@model long

@{
    ViewData["Title"] = "Lab1";
}

<h1>Lab2</h1>




<form method="post">
    <div>
        <label for="input">Input path</label>
        <input type="text" name="inputPath" id="input" />
    </div>
    <div>
        <label for="output">Output path</label>
        <input type="text" name="outputPath" id="output" />
    </div>
    <button type="submit">Submit</button>
</form>




@if (Model > 0)
{
    <h2>Response: @Model</h2>
}